<style>
h2 {
    color: #0000FF;
    font-size: 22px;
    margin: 0px;
    }
    h1 {
   margin: 0px;
      text-align: center;
      
    }
    body {
     background-color: #D3D3D3 
    }
</style>
  
