h2 {
    font-size: 22px;
        color: #6969;
    }
    h1 {
   margin: 0px;
      text-align: center;
        }
    body {
     background-color: #D3D3D3; 
      
    }
*{
    font: TimesNewRoman;
}

  
